# this (self)
#-e .

# Framework
discord ~= 2.3.2

# Load env
python-dotenv ~= 1.1.1

# Useful utils
jishaku ~= 2.6.0

# AsyncIO FS util
aiofiles ~= 24.1.0

# AsyncIO HTTP library
aiohttp ~= 3.12.15

# Fast AsyncIO event loop
#uvloop ~= 0.21.0
